<div class="home-page-body">
  <div class="container">
    <div class="row align-content-center">
        <div class="col-4" style="padding-top: 100px; margin-left: 15%;">
          <a href="/registration">
            <mat-card class="example-card" style="align-content: center">
              <img mat-card-image src="https://cdnuploads.aa.com.tr/uploads/Contents/2020/08/19/thumbs_b_c_e186fa8d5c168e8f346b2e33c2115dea.jpg?v=222352" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <h1>Vaccine registration</h1>
              </mat-card-content>
            </mat-card>
          </a>
      </div>

      <div class="col align-items-md-center">
      <div class="col align-self-start" style="padding-top: 100px">
        <a href="/registration">
          <mat-card class="example-card">
<!--            <img mat-card-image src="https://cdnuploads.aa.com.tr/uploads/Contents/2020/08/19/thumbs_b_c_e186fa8d5c168e8f346b2e33c2115dea.jpg?v=222352" alt="Photo of a Shiba Inu">-->
            <mat-card-content>
              <h1>Check Status</h1>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
        <div class="col align-items-center"  style="padding-top: 30px;">
          <a href="/registration">
            <mat-card class="example-card">
              <!--            <img mat-card-image src="https://cdnuploads.aa.com.tr/uploads/Contents/2020/08/19/thumbs_b_c_e186fa8d5c168e8f346b2e33c2115dea.jpg?v=222352" alt="Photo of a Shiba Inu">-->
              <mat-card-content>
                <h1>Vaccine Card</h1>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
        <div class="col align-middle" style="padding-top: 30px;">
          <a href="/registration">
            <mat-card class="example-card">
              <!--            <img mat-card-image src="https://cdnuploads.aa.com.tr/uploads/Contents/2020/08/19/thumbs_b_c_e186fa8d5c168e8f346b2e33c2115dea.jpg?v=222352" alt="Photo of a Shiba Inu">-->
              <mat-card-content>
                <h1>FAQ</h1>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>

<!--..........................-->


<!--..................................-->
    </div>
  </div>


</div>
