.example-card {
  max-width: 400px;
  text-decoration: none;
}

/*.example-header-image {*/
/*  background-image: url('https://cdnuploads.aa.com.tr/uploads/Contents/2020/08/19/thumbs_b_c_e186fa8d5c168e8f346b2e33c2115dea.jpg?v=222352');*/
/*  background-size: cover;*/
/*}*/

.home-page-body{
  background-image: url("https://surokkha.gov.bd/static/media/banner-bg.7358efba.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  height: 100%;
}

a{
  text-decoration: none
}

@media (min-width: 500px) {
  #vaccine_reg_mat_card{
    margin-bottom: 90px;
    margin-top: 35px;
  }
  #vaccine_reg_mat_card_image{
    text-align: center;
  }
  #vaccine_reg_div{
    margin-top: 3%;
    margin-left: 12%;
  }
  .check_status_column{
    margin-left: -50px;
  }

  #during_reg_image{
    margin-bottom: 38px;
  }

}

@media (max-width: 479px) {
  #vaccine_reg_div{
    margin-top: 5%;
  }

  #vaccine_registration_column{
    margin-bottom: 8px;
  }
}

.check_status_column{
  margin-bottom: 8px;
}


