.example-card {
  text-decoration: none;
}

.all_phone_numbers{
  font-weight: bold;
  color: green;
}

.hotline_row_text{
  font-weight: bold;
  color: rgb(9,39,83);
}

.appStoreText{
  font-weight: bold;
  color: rgb(9,39,83);
}

.home-page-body{
  background-image: url("https://surokkha.gov.bd/static/media/banner-bg.7358efba.jpg");
  background-repeat: no-repeat;
  background-position: left top;
}

a{
  text-decoration: none
}

.check_status_column{
  margin-bottom: 8px;
}

#appStore_part{
  margin-top: 30px;
  margin-bottom: 30px;
}

#contact_row{
  margin-bottom: 30px;
}

#vaccine_registration_column:hover{
  background-color: rgb(218, 237, 255);
  transition: 0.5s;
}

#check_status:hover{
  background-color: rgb(223, 255, 218);
  transition: 0.5s;
}

#vaccine_card:hover{
  background-color: rgb(254, 255, 218);
  transition: 0.5s;
}

#certificate:hover{
  background-color: rgb(218, 255, 242);
  transition: 0.5s;
}

#faq:hover{
  background-color: rgb(218, 253, 255);
  transition: 0.5s;
}

@media (min-width: 1024px) {
  #vaccine_reg_mat_card_image{
    margin-bottom: 160px;
  }
}


