<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->


<!--  <div class="collapse navbar-collapse" id="navbarNav">-->
<!--    <img src="https://surokkha.gov.bd/static/media/logo-f.5c608b98.png" class="navbar-nav">-->
<!--    <ul class="navbar-nav">-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="/home">Home</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="/registration">Registration</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="/status">Status</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="vaccine-card">Card</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="/certificate">Certificate</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="/faq">FAQ</a>-->
<!--      </li>-->
<!--      <button type="button" class="btn btn-primary">বাংলা</button>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->

<!--..................................new header...............-->

<!--<nav>-->
<!--  <input type="checkbox" id="check">-->
<!--  <label for="check" class="checkbtn">-->
<!--    <i class="fas fa-bars"></i>-->
<!--  </label>-->
<!--  <label class="logo">Logo</label>-->
<!--  <ul>-->
<!--    <li><a href="#">Home</a></li>-->
<!--    <li><a href="#">Registration</a></li>-->
<!--    <li><a href="#">Registration(Passport)</a></li>-->
<!--    <li><a href="#">Status</a></li>-->
<!--    <li><a href="#">Card</a></li>-->
<!--    <li><a href="#">Certificate</a></li>-->
<!--    <li><a href="#">Verify Certificate</a></li>-->
<!--    <li><a href="#">Manual</a></li>-->
<!--    <li><a href="#">FAQ</a></li>-->
<!--  </ul>-->
<!--</nav>-->
<!--...................................................................................-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" id="surokkha_logo"> <img src="https://surokkha.gov.bd/static/media/logo-f.5c608b98.png"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registration">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Registration(Passport)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/status">Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vaccine-card">Card</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/certificate">Certificate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Verify Certificate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Manual</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq">FAQ</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn" id="bangla_button">বাংলা</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
