<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 offset-lg-1 col-md-12 col-sm-12">
      <img src="https://surokkha.gov.bd/static/media/logo_white.8ef9a1c4.svg" class="surokkha_logo">
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12">
      <p><a href="https://surokkha.gov.bd/privacy-policy">{{'FOOTER.Privacy_Policy' | translate}}</a></p>
      <p><a href="https://surokkha.gov.bd/terms-of-service">{{'FOOTER.Terms_Of_Service' | translate}}</a></p>
      <p><a href="https://surokkha.gov.bd/affiliates">{{'FOOTER.Other_Affiliates' | translate}}</a></p>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12" >
      <p>{{'FOOTER.Developed_By' | translate}}  </p>
      <img style="text-align: center;" src="https://surokkha.gov.bd/static/media/ict.52410752.png">
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12" id="affiliates">
      <p>{{'FOOTER.Affiliates' | translate}}</p>
      <img style="text-align: center;" src="https://surokkha.gov.bd/static/media/org.ed08c793.png">
    </div>
  </div>
</div>

