.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.foot{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#under_head{
  background-color: #dde7f8;
  padding-top: 50px;
  padding-bottom: 50px;
}

.question_title{
  /*font-weight: bold;*/
  color: rgb(9, 39, 83);
}
