<div class="container" style="margin-top: 40px;">
  <h2>Frequently Asked Questions about Covid-19 Corona Vaccine</h2>

  <div style="margin-top: 25px">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          What to do if OTP is not received at the last step of the registration process?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>You can resend OTP. If you unfortunately close the OTP providing screen, can re-register.</p>
    </mat-expansion-panel>
  </mat-accordion>
  </div>

  <div style="margin-top: 25px">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          If I want to register for Covid-19 coronavirus vaccine, how do I register online?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>You can register by logging on to www.surokkha.gov.bd web portal or by downloading the “Surokkha” app from Google Play Store. See "Manual" on the web portal for details.</p>
    </mat-expansion-panel>
  </mat-accordion>
  </div>

  <div style="margin-top: 25px">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          I have registered for the vaccine online, what should I do next?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Download Vaccine Card from www.surokkha.gov.bd web portal. Later, the date and center of the vaccine will be informed via SMS on the mobile phone.</p>
    </mat-expansion-panel>
  </mat-accordion>
  </div>

  <div style="margin-top: 25px">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          How to check the Registration status for Covid-19 vaccine online?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>You can know the status of registration by verifying the national identity card and mobile number from the "Registration Status" menu on the web portal www.surokkha.gov.bd.</p>
    </mat-expansion-panel>
  </mat-accordion>
  </div>

  <div style="margin-top: 25px">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          How can I get a vaccine card for receiving the Covid-19 vaccine?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>You can Download Vaccine Card by verifying National Identity Card and Mobile Number from the "Vaccine Card Download" menu at www.surokkha.gov.bd</p>
    </mat-expansion-panel>
  </mat-accordion>
  </div>

  <div style="margin-top: 25px; margin-bottom: 25px;">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          How can I get a vaccine certificate after completion of Covid-19 vaccine?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>After completion of two doses of Covid-19 vaccine, you can collect the vaccine certificate by verifying the national identity card and mobile number from the "Vaccine Certificate Download" menu at the web portal www.suraksha.gov.bd</p>
    </mat-expansion-panel>
  </mat-accordion>
  </div>
</div>
